
<div class="main">

  <mat-card>

    <mat-card-title>
      Quel est le probléme ?
    </mat-card-title>

    <mat-tab-group>
      <mat-tab label="NOUVEAU">
        <h3>Some tab content</h3>
        <p>...</p>
        <h3>Some tab content</h3>
        <p>...</p>
      </mat-tab>
      <mat-tab label="LEGER">
        <h3>Some tab content</h3>
        <p>...</p>
      </mat-tab>
      <mat-tab label="LOURD">
        <h3>Some tab content</h3>
        <p>...</p>
      </mat-tab>
    </mat-tab-group>

  </mat-card>

</div>
