
div.main {
  display: flex;
  flex-direction: column;
}

div.top {
  width: calc(100% - 20px);
  display: flex;
  margin: 0 10px;
}

button {
  flex: 1;
  margin: 20px 10px 0 10px;
}

.bottom {
  margin: 20px;
  flex: 1;
}
