<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      1 - EVITER LE SURACCIDENT
    </mat-panel-title>
  </mat-expansion-panel-header>
    <h3>Si vous êtes dans un véhicules</h3>
    <mat-list>
     <mat-list-item>   Dès que vous êtes en vue d'un accident, ralentissez et allumez vos feux de détresse. </mat-list-item>
     <mat-list-item>   Garez correctement votre véhicule, si possible après le lieu de l'accident et laissez vos feux de détresse allumés.</mat-list-item>
     <mat-list-item>   Faites descendre immédiatement vos passagers et mettez-les à l'abri sur le bas-côté, à quelques distances de la route. Sur une autoroute, ne les laissez pas sur la bande d'arrêt d'urgence, mais faites les passer le plus rapidement possible derrière les barrières de sécurité. </mat-list-item>
     <mat-list-item>   Demandez aux autres témoins d'en faire autant, s'ils ne l'ont pas encore fait.</mat-list-item>
    </mat-list>
    <h3>Dans tout les cas</h3>
    <mat-list>
     <mat-list-item>   Pour éviter un nouvel accident, il est essentiel de prévenir les automobilistes, il faut donc baliser la zone avec l'aide de témoins éventuels. Si vous disposez de triangles de pré signalisation, placez-les à au moins 200m de l'accident. Agitez un linge blanc ou une lampe électrique (la nuit). </mat-list-item>
     <mat-list-item>   Faites ralentir la circulation (dans les 2 sens si cela est possible et nécessaire) par des témoins placés sur les bas-côtés de la route.</mat-list-item>
     <mat-list-item>   Demandez aux témoins qui ne peuvent se rendre utile, de circuler (la concentration d'un nombre important de véhicules arrêtés à un même endroit ne pouvant être qu'une source de danger). </mat-list-item>
     <mat-list-item>   Demandez au témoins de ne pas fumer à proximité de l'accident (les réservoirs d'essence des véhicules pouvant être endommagés).</mat-list-item>
     <mat-list-item>   Coupez le contact des véhicules accidentés et serrez leur frein à main.</mat-list-item>
    </mat-list>

</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      2 - ALERTEZ OU FAITES ALERTER LES SECOURS
    </mat-panel-title>
  </mat-expansion-panel-header>
  Après avoir évalué rapidement l'état et la situation des victimes alertez ou faites alerter les secours : Samu 15, Pompier 18 ou Police 17 (vous devez leur donner un maximum de renseignements, pour qu'ils puissent envoyer des moyens techniques et humains adaptés à la situation).

  Sur les autoroutes et voies rapides, il est préférable d'utiliser les bornes d'appel d'urgence car elles indiqueront automatiquement votre position aux services d'urgence.

</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      3 - OCCUPEZ-VOUS DES BLESSES
    </mat-panel-title>
  </mat-expansion-panel-header>
    <p>En attendant l'arrivée des secours vous devez prendre une décision sur la nécessité éventuelle d'un dégagement d'urgence des victimes :</p>
    <mat-list>
     <mat-list-item>   En mobilisant un blessé vous risquez d'endommager sa moelle épinière et d'entrainer une paralysie définitive ou même son décès. </mat-list-item>
     <mat-list-item>   Il existe cependant des situations ou, si vous n'agissez pas très rapidement avant l'arrivée des secours, le décès de la victime sera inévitable. Le risque du dégagement est alors plus faible que celui de l'abstention. Vous devez prendre la décision de dégager la victime.</mat-list-item>
    </mat-list>
    <p>Il faut donc connaitre avec précision les cas qui imposent le déplacement des victimes et les précautions à prendre pour réduire au minimum les risques. </p>

</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      4 - ...
    </mat-panel-title>
  </mat-expansion-panel-header>
</mat-expansion-panel>
