
<div id="myCards">
  <mat-card>
  <mat-card-header>
  <img mat-card-avatar src="../assets/dont.png">
  <mat-card-title>
    Adoptez un SAM !
  </mat-card-title>
  <mat-card-subtitle>
    Le capitaine de votre soirée
  </mat-card-subtitle>
</mat-card-header>
  <img class="ImgCard" mat-card-image src="../assets/SAM.jpg">
  <mat-card-content>
    Le conducteur désigné est la personne qui, dans un groupe se déplaçant en automobile pour aller consommer de l'alcool, promet de rester sobre et de conduire au retour.
    Les campagnes de promotion du conducteur désigné s'appellent Capitaine de soirée ou Sam, celui qui conduit c'est celui qui ne boit pas en France, ou encore Bob en Belgique (= "Bewust onbeschonken bestuurder", Conducteur non alcoolisé conscient en néerlandais), Raoul au Luxembourg ou l'Ange en Suisse.
  </mat-card-content>
  </mat-card>
  <mat-card>
  <mat-card-header>
  <img mat-card-avatar src="../assets/dont.png">
  <mat-card-title>
    Adoptez un SAM !
  </mat-card-title>
  <mat-card-subtitle>
    Le capitaine de votre soirée
  </mat-card-subtitle>
</mat-card-header>
  <img class="ImgCard" mat-card-image src="../assets/SAM.jpg">
  <mat-card-content>
    Le conducteur désigné est la personne qui, dans un groupe se déplaçant en automobile pour aller consommer de l'alcool, promet de rester sobre et de conduire au retour.
    Les campagnes de promotion du conducteur désigné s'appellent Capitaine de soirée ou Sam, celui qui conduit c'est celui qui ne boit pas en France, ou encore Bob en Belgique (= "Bewust onbeschonken bestuurder", Conducteur non alcoolisé conscient en néerlandais), Raoul au Luxembourg ou l'Ange en Suisse.
  </mat-card-content>
  </mat-card>
  <mat-card>
  <mat-card-header>
  <img mat-card-avatar src="../assets/dont.png">
  <mat-card-title>
    Adoptez un SAM !
  </mat-card-title>
  <mat-card-subtitle>
    Le capitaine de votre soirée
  </mat-card-subtitle>
</mat-card-header>
  <img class="ImgCard" mat-card-image src="../assets/SAM.jpg">
  <mat-card-content>
    Le conducteur désigné est la personne qui, dans un groupe se déplaçant en automobile pour aller consommer de l'alcool, promet de rester sobre et de conduire au retour.
    Les campagnes de promotion du conducteur désigné s'appellent Capitaine de soirée ou Sam, celui qui conduit c'est celui qui ne boit pas en France, ou encore Bob en Belgique (= "Bewust onbeschonken bestuurder", Conducteur non alcoolisé conscient en néerlandais), Raoul au Luxembourg ou l'Ange en Suisse.
  </mat-card-content>
  </mat-card>
  <mat-card>
  <mat-card-header>
  <img mat-card-avatar src="../assets/dont.png">
  <mat-card-title>
    Adoptez un SAM !
  </mat-card-title>
  <mat-card-subtitle>
    Le capitaine de votre soirée
  </mat-card-subtitle>
</mat-card-header>
  <img class="ImgCard" mat-card-image src="../assets/SAM.jpg">
  <mat-card-content>
    Le conducteur désigné est la personne qui, dans un groupe se déplaçant en automobile pour aller consommer de l'alcool, promet de rester sobre et de conduire au retour.
    Les campagnes de promotion du conducteur désigné s'appellent Capitaine de soirée ou Sam, celui qui conduit c'est celui qui ne boit pas en France, ou encore Bob en Belgique (= "Bewust onbeschonken bestuurder", Conducteur non alcoolisé conscient en néerlandais), Raoul au Luxembourg ou l'Ange en Suisse.
  </mat-card-content>
  </mat-card><mat-card>
  <mat-card-header>
  <img mat-card-avatar src="../assets/dont.png">
  <mat-card-title>
    Adoptez un SAM !
  </mat-card-title>
  <mat-card-subtitle>
    Le capitaine de votre soirée
  </mat-card-subtitle>
</mat-card-header>
  <img class="ImgCard" mat-card-image src="../assets/SAM.jpg">
  <mat-card-content>
    Le conducteur désigné est la personne qui, dans un groupe se déplaçant en automobile pour aller consommer de l'alcool, promet de rester sobre et de conduire au retour.
    Les campagnes de promotion du conducteur désigné s'appellent Capitaine de soirée ou Sam, celui qui conduit c'est celui qui ne boit pas en France, ou encore Bob en Belgique (= "Bewust onbeschonken bestuurder", Conducteur non alcoolisé conscient en néerlandais), Raoul au Luxembourg ou l'Ange en Suisse.
  </mat-card-content>
  </mat-card>
  <mat-card>
  <mat-card-header>
  <img mat-card-avatar src="../assets/dont.png">
  <mat-card-title>
    Adoptez un SAM !
  </mat-card-title>
  <mat-card-subtitle>
    Le capitaine de votre soirée
  </mat-card-subtitle>
</mat-card-header>
  <img class="ImgCard" mat-card-image src="../assets/SAM.jpg">
  <mat-card-content>
    Le conducteur désigné est la personne qui, dans un groupe se déplaçant en automobile pour aller consommer de l'alcool, promet de rester sobre et de conduire au retour.
    Les campagnes de promotion du conducteur désigné s'appellent Capitaine de soirée ou Sam, celui qui conduit c'est celui qui ne boit pas en France, ou encore Bob en Belgique (= "Bewust onbeschonken bestuurder", Conducteur non alcoolisé conscient en néerlandais), Raoul au Luxembourg ou l'Ange en Suisse.
  </mat-card-content>
  </mat-card>
  <mat-card>
  <mat-card-header>
  <img mat-card-avatar src="../assets/dont.png">
  <mat-card-title>
    Adoptez un SAM !
  </mat-card-title>
  <mat-card-subtitle>
    Le capitaine de votre soirée
  </mat-card-subtitle>
</mat-card-header>
  <img class="ImgCard" mat-card-image src="../assets/SAM.jpg">
  <mat-card-content>
    Le conducteur désigné est la personne qui, dans un groupe se déplaçant en automobile pour aller consommer de l'alcool, promet de rester sobre et de conduire au retour.
    Les campagnes de promotion du conducteur désigné s'appellent Capitaine de soirée ou Sam, celui qui conduit c'est celui qui ne boit pas en France, ou encore Bob en Belgique (= "Bewust onbeschonken bestuurder", Conducteur non alcoolisé conscient en néerlandais), Raoul au Luxembourg ou l'Ange en Suisse.
  </mat-card-content>
  </mat-card>
  <mat-card>
  <mat-card-header>
  <img mat-card-avatar src="../assets/dont.png">
  <mat-card-title>
    Adoptez un SAM !
  </mat-card-title>
  <mat-card-subtitle>
    Le capitaine de votre soirée
  </mat-card-subtitle>
</mat-card-header>
  <img class="ImgCard" mat-card-image src="../assets/SAM.jpg">
  <mat-card-content>
    Le conducteur désigné est la personne qui, dans un groupe se déplaçant en automobile pour aller consommer de l'alcool, promet de rester sobre et de conduire au retour.
    Les campagnes de promotion du conducteur désigné s'appellent Capitaine de soirée ou Sam, celui qui conduit c'est celui qui ne boit pas en France, ou encore Bob en Belgique (= "Bewust onbeschonken bestuurder", Conducteur non alcoolisé conscient en néerlandais), Raoul au Luxembourg ou l'Ange en Suisse.
  </mat-card-content>
  </mat-card><mat-card>
  <mat-card-header>
  <img mat-card-avatar src="../assets/dont.png">
  <mat-card-title>
    Adoptez un SAM !
  </mat-card-title>
  <mat-card-subtitle>
    Le capitaine de votre soirée
  </mat-card-subtitle>
</mat-card-header>
  <img class="ImgCard" mat-card-image src="../assets/SAM.jpg">
  <mat-card-content>
    Le conducteur désigné est la personne qui, dans un groupe se déplaçant en automobile pour aller consommer de l'alcool, promet de rester sobre et de conduire au retour.
    Les campagnes de promotion du conducteur désigné s'appellent Capitaine de soirée ou Sam, celui qui conduit c'est celui qui ne boit pas en France, ou encore Bob en Belgique (= "Bewust onbeschonken bestuurder", Conducteur non alcoolisé conscient en néerlandais), Raoul au Luxembourg ou l'Ange en Suisse.
  </mat-card-content>
  </mat-card>
  <mat-card>
  <mat-card-header>
  <img mat-card-avatar src="../assets/dont.png">
  <mat-card-title>
    Adoptez un SAM !
  </mat-card-title>
  <mat-card-subtitle>
    Le capitaine de votre soirée
  </mat-card-subtitle>
</mat-card-header>
  <img class="ImgCard" mat-card-image src="../assets/SAM.jpg">
  <mat-card-content>
    Le conducteur désigné est la personne qui, dans un groupe se déplaçant en automobile pour aller consommer de l'alcool, promet de rester sobre et de conduire au retour.
    Les campagnes de promotion du conducteur désigné s'appellent Capitaine de soirée ou Sam, celui qui conduit c'est celui qui ne boit pas en France, ou encore Bob en Belgique (= "Bewust onbeschonken bestuurder", Conducteur non alcoolisé conscient en néerlandais), Raoul au Luxembourg ou l'Ange en Suisse.
  </mat-card-content>
  </mat-card>
</div>
